<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}   
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>Community archive based in Chinatown, Los Angeles</p>
        <p>Founded in 1975</p>     
        <br>
        <p>°❀⋆.ೃ࿔*:･°❀⋆.ೃ࿔*:･</p>
        
        <br>
    
        <h3><a href="{{ site.baseurl }}/index.html">🏠 Home</a></h3>
        
        <h3><a href="{{ site.baseurl }}/pages/community-archivist.html">🗃️ Community Archivist Role</a></h3>
        
        <h3><a href="{{ site.baseurl }}/pages/job-descriptions.html">💼 Job Descriptions</a></h3>
         
        <h3><a href="{{ site.baseurl }}/pages/professional-context.html">🌎 Professional Context</a></h3>
        
        <h3><a href="{{ site.baseurl }}/pages/skills-training.html">🎓 Skills and Training</a></h3>
        
        <h3><a href="{{ site.baseurl }}/pages/labor-trends.html">📈 Labor Trends</a></h3>
        
        <h3><a href="{{ site.baseurl }}/pages/AI-implications.html">💀 AI Implications</a></h3>
        
        <h3><a href="{{ site.baseurl }}/pages/resources.html">📚 Resources</a></h3>

        <h3><a href="{{ site.baseurl }}/pages/bibliography.html">🗂️ Bibliography</a></h3>
        
        <h3><a href="{{ site.baseurl }}/pages/riona-transcript.html">👩🏻 Transcript: Riona</a></h3>

        <h3><a href="{{ site.baseurl }}/pages/david-transcript.html">👨🏽 Transcript: David</a></h3>
        <br>
        <br>
        <h4><a href="https://chssc.org" target="_blank">CHSSC Website↗︎</a></h4>
        <h4><a href="https://chsscdigital.libraryhost.com/s/Collections/page/welcome" target="_blank">CHSSC Digital Archives↗︎</a></h4>
        <br>
        <br>
        <p>IS 270 Specialization Dossier by Cheeyeon, Chanel, Jana, and Sage</p>
        <br>
        <br>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
       
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
